# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
ENV/
env/
.venv/

# IDE specific files
.idea/
.vscode/

# Build artifacts
dist/
build/
*.egg-info/

# Instance folder (Flask)
instance/

# Secrets
*.env
.env.*
secrets.py
config.py
